/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.c7n-steps {
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.13rem;
  line-height: 1.5;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.c7n-steps-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}
.c7n-steps-item:last-child {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}
.c7n-steps-item:last-child .c7n-steps-item-tail,
.c7n-steps-item:last-child .c7n-steps-item-title:after {
  display: none;
}
.c7n-steps-item-icon,
.c7n-steps-item-content {
  display: inline-block;
  vertical-align: top;
}
.c7n-steps-item-icon {
  color: #fff;
  width: 0.28rem;
  height: 0.28rem;
  line-height: 0.28rem;
  text-align: center;
  border-radius: 0.28rem;
  font-size: 0.16rem;
  margin-right: .08rem;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.c7n-steps-item-icon > .c7n-steps-icon {
  line-height: 1;
  top: -0.01rem;
  position: relative;
}
.c7n-steps-item-icon span.icon {
  height: 0.28rem;
  width: 0.28rem;
  line-height: 0.28rem;
  vertical-align: initial;
}
.c7n-steps-item-tail {
  position: absolute;
  left: 0;
  width: 100%;
  top: .12rem;
  padding: 0 .1rem;
}
.c7n-steps-item-tail:after {
  content: '';
  display: inline-block;
  background: rgba(0, 0, 0, 0.26);
  height: .01rem;
  border-radius: .01rem;
  width: 100%;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.c7n-steps-item-title {
  font-size: 0.16rem;
  color: #000000;
  display: inline-block;
  padding-right: .16rem;
  position: relative;
  line-height: 0.28rem;
}
.c7n-steps-item-title:after {
  content: '';
  height: .01rem;
  width: 99.99rem;
  background: rgba(0, 0, 0, 0.26);
  display: block;
  position: absolute;
  top: 0.14rem;
  left: 100%;
}
.c7n-steps-item-description {
  font-size: 0.13rem;
  color: rgba(0, 0, 0, 0.45);
}
.c7n-steps-item-wait .c7n-steps-item-icon {
  background-color: rgba(0, 0, 0, 0.36);
}
.c7n-steps-item-wait .c7n-steps-item-icon > .c7n-steps-icon .c7n-steps-icon-dot {
  background: rgba(0, 0, 0, 0.36);
}
.c7n-steps-item-wait > .c7n-steps-item-content > .c7n-steps-item-title {
  color: rgba(0, 0, 0, 0.45);
}
.c7n-steps-item-wait > .c7n-steps-item-content > .c7n-steps-item-title:after {
  background-color: rgba(0, 0, 0, 0.26);
}
.c7n-steps-item-wait > .c7n-steps-item-content > .c7n-steps-item-description {
  color: rgba(0, 0, 0, 0.45);
}
.c7n-steps-item-wait > .c7n-steps-item-tail:after {
  background-color: rgba(0, 0, 0, 0.26);
}
.c7n-steps-item-process .c7n-steps-item-icon {
  background-color: #3f51b5;
}
.c7n-steps-item-process .c7n-steps-item-icon > .c7n-steps-icon .c7n-steps-icon-dot {
  background: #3f51b5;
}
.c7n-steps-item-process > .c7n-steps-item-content > .c7n-steps-item-title {
  color: rgba(0, 0, 0, 0.85);
}
.c7n-steps-item-process > .c7n-steps-item-content > .c7n-steps-item-title:after {
  background-color: rgba(0, 0, 0, 0.26);
}
.c7n-steps-item-process > .c7n-steps-item-content > .c7n-steps-item-description {
  color: #000000;
}
.c7n-steps-item-process > .c7n-steps-item-tail:after {
  background-color: rgba(0, 0, 0, 0.26);
}
.c7n-steps-item-process .c7n-steps-item-title {
  font-weight: 500;
}
.c7n-steps-item-finish .c7n-steps-item-icon {
  background-color: #3f51b5;
}
.c7n-steps-item-finish .c7n-steps-item-icon > .c7n-steps-icon .c7n-steps-icon-dot {
  background: #3f51b5;
}
.c7n-steps-item-finish > .c7n-steps-item-content > .c7n-steps-item-title {
  color: #000000;
}
.c7n-steps-item-finish > .c7n-steps-item-content > .c7n-steps-item-title:after {
  background-color: rgba(0, 0, 0, 0.26);
}
.c7n-steps-item-finish > .c7n-steps-item-content > .c7n-steps-item-description {
  color: rgba(0, 0, 0, 0.45);
}
.c7n-steps-item-finish > .c7n-steps-item-tail:after {
  background-color: rgba(0, 0, 0, 0.26);
}
.c7n-steps-item-error .c7n-steps-item-icon {
  background-color: #d50000;
}
.c7n-steps-item-error .c7n-steps-item-icon > .c7n-steps-icon .c7n-steps-icon-dot {
  background: #d50000;
}
.c7n-steps-item-error > .c7n-steps-item-content > .c7n-steps-item-title {
  color: #d50000;
}
.c7n-steps-item-error > .c7n-steps-item-content > .c7n-steps-item-title:after {
  background-color: rgba(0, 0, 0, 0.26);
}
.c7n-steps-item-error > .c7n-steps-item-content > .c7n-steps-item-description {
  color: #d50000;
}
.c7n-steps-item-error > .c7n-steps-item-tail:after {
  background-color: rgba(0, 0, 0, 0.26);
}
.c7n-steps-horizontal:not(.c7n-steps-label-vertical) .c7n-steps-item {
  margin-right: .16rem;
  white-space: nowrap;
}
.c7n-steps-horizontal:not(.c7n-steps-label-vertical) .c7n-steps-item:last-child {
  margin-right: 0;
}
.c7n-steps-horizontal:not(.c7n-steps-label-vertical) .c7n-steps-item:last-child .c7n-steps-item-title {
  padding-right: 0;
}
.c7n-steps-horizontal:not(.c7n-steps-label-vertical) .c7n-steps-item-tail {
  display: none;
}
.c7n-steps-horizontal:not(.c7n-steps-label-vertical) .c7n-steps-item-description {
  max-width: 1.4rem;
}
.c7n-steps-item-custom .c7n-steps-item-icon {
  background: none;
  border: 0;
  width: auto;
  height: auto;
  color: inherit;
}
.c7n-steps-item-custom.c7n-steps-item-process .c7n-steps-item-icon {
  color: #3f51b5;
}
.c7n-steps-small.c7n-steps-horizontal:not(.c7n-steps-label-vertical) .c7n-steps-item {
  margin-right: .12rem;
}
.c7n-steps-small.c7n-steps-horizontal:not(.c7n-steps-label-vertical) .c7n-steps-item:last-child {
  margin-right: 0;
}
.c7n-steps-small .c7n-steps-item-icon {
  width: 0.24rem;
  height: 0.24rem;
  line-height: 0.24rem;
  text-align: center;
  border-radius: 0.24rem;
  font-size: 0.12rem;
}
.c7n-steps-small .c7n-steps-item-icon span.icon {
  font-size: .16rem;
  height: 0.24rem;
  width: 0.24rem;
  line-height: 0.24rem;
  vertical-align: initial;
}
.c7n-steps-small .c7n-steps-item-title {
  font-size: 0.13rem;
  line-height: 0.24rem;
  padding-right: .12rem;
}
.c7n-steps-small .c7n-steps-item-title:after {
  top: 0.12rem;
}
.c7n-steps-small .c7n-steps-item-description {
  font-size: 0.13rem;
  color: rgba(0, 0, 0, 0.45);
}
.c7n-steps-small .c7n-steps-item-tail {
  top: .08rem;
  padding: 0 .08rem;
}
.c7n-steps-small .c7n-steps-item-custom .c7n-steps-item-icon {
  width: inherit;
  height: inherit;
  line-height: inherit;
  border-radius: 0;
  border: 0;
  background: none;
}
.c7n-steps-small .c7n-steps-item-custom .c7n-steps-item-icon > .c7n-steps-icon {
  font-size: 0.24rem;
  line-height: 0.24rem;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.c7n-steps-vertical {
  display: block;
}
.c7n-steps-vertical .c7n-steps-item {
  display: block;
  overflow: visible;
}
.c7n-steps-vertical .c7n-steps-item-icon {
  float: left;
  margin-right: .16rem;
}
.c7n-steps-vertical .c7n-steps-item-content {
  min-height: .48rem;
  overflow: hidden;
  display: block;
}
.c7n-steps-vertical .c7n-steps-item-title {
  line-height: 0.28rem;
}
.c7n-steps-vertical .c7n-steps-item-description {
  padding-bottom: .12rem;
}
.c7n-steps-vertical > .c7n-steps-item > .c7n-steps-item-tail {
  position: absolute;
  left: .16rem;
  top: 0;
  height: 100%;
  width: .01rem;
  padding: 0.34rem 0 0.06rem;
}
.c7n-steps-vertical > .c7n-steps-item > .c7n-steps-item-tail:after {
  height: 100%;
  width: .01rem;
}
.c7n-steps-vertical > .c7n-steps-item:not(:last-child) > .c7n-steps-item-tail {
  display: block;
}
.c7n-steps-vertical > .c7n-steps-item > .c7n-steps-item-content > .c7n-steps-item-title:after {
  display: none;
}
.c7n-steps-vertical.c7n-steps-small .c7n-steps-item-tail {
  position: absolute;
  left: .12rem;
  top: 0;
  padding: 0.3rem 0 0.06rem;
}
.c7n-steps-vertical.c7n-steps-small .c7n-steps-item-title {
  line-height: 0.24rem;
}
@media (max-width: 480px) {
  .c7n-steps-horizontal.c7n-steps-label-horizontal {
    display: block;
  }
  .c7n-steps-horizontal.c7n-steps-label-horizontal .c7n-steps-item {
    display: block;
    overflow: visible;
  }
  .c7n-steps-horizontal.c7n-steps-label-horizontal .c7n-steps-item-icon {
    float: left;
    margin-right: .16rem;
  }
  .c7n-steps-horizontal.c7n-steps-label-horizontal .c7n-steps-item-content {
    min-height: .48rem;
    overflow: hidden;
    display: block;
  }
  .c7n-steps-horizontal.c7n-steps-label-horizontal .c7n-steps-item-title {
    line-height: 0.28rem;
  }
  .c7n-steps-horizontal.c7n-steps-label-horizontal .c7n-steps-item-description {
    padding-bottom: .12rem;
  }
  .c7n-steps-horizontal.c7n-steps-label-horizontal > .c7n-steps-item > .c7n-steps-item-tail {
    position: absolute;
    left: .16rem;
    top: 0;
    height: 100%;
    width: .01rem;
    padding: 0.34rem 0 0.06rem;
  }
  .c7n-steps-horizontal.c7n-steps-label-horizontal > .c7n-steps-item > .c7n-steps-item-tail:after {
    height: 100%;
    width: .01rem;
  }
  .c7n-steps-horizontal.c7n-steps-label-horizontal > .c7n-steps-item:not(:last-child) > .c7n-steps-item-tail {
    display: block;
  }
  .c7n-steps-horizontal.c7n-steps-label-horizontal > .c7n-steps-item > .c7n-steps-item-content > .c7n-steps-item-title:after {
    display: none;
  }
  .c7n-steps-horizontal.c7n-steps-label-horizontal.c7n-steps-small .c7n-steps-item-tail {
    position: absolute;
    left: .12rem;
    top: 0;
    padding: 0.3rem 0 0.06rem;
  }
  .c7n-steps-horizontal.c7n-steps-label-horizontal.c7n-steps-small .c7n-steps-item-title {
    line-height: 0.24rem;
  }
}
.c7n-steps-label-vertical .c7n-steps-item {
  overflow: visible;
}
.c7n-steps-label-vertical .c7n-steps-item-tail {
  padding: 0 .24rem;
  margin-left: .48rem;
}
.c7n-steps-label-vertical .c7n-steps-item-content {
  display: block;
  text-align: center;
  margin-top: .08rem;
  width: 1.4rem;
}
.c7n-steps-label-vertical .c7n-steps-item-icon {
  display: inline-block;
  margin-left: .36rem;
}
.c7n-steps-label-vertical .c7n-steps-item-title {
  padding-right: 0;
}
.c7n-steps-label-vertical .c7n-steps-item-title:after {
  display: none;
}
.c7n-steps-label-vertical .c7n-steps-item-description {
  text-align: left;
}
.c7n-steps-dot .c7n-steps-item-title {
  line-height: 1.5;
}
.c7n-steps-dot .c7n-steps-item-tail {
  width: 100%;
  top: .02rem;
  margin: 0 0 0 0.7rem;
  padding: 0;
}
.c7n-steps-dot .c7n-steps-item-tail:after {
  height: .03rem;
  width: calc(100% - .2rem);
  margin-left: .12rem;
}
.c7n-steps-dot .c7n-steps-item:first-child .c7n-steps-icon-dot {
  left: .02rem;
}
.c7n-steps-dot .c7n-steps-item-icon {
  padding-right: 0;
  width: 0.08rem;
  height: 0.08rem;
  line-height: 0.08rem;
  border: 0;
  margin-left: .67rem;
  background: transparent;
}
.c7n-steps-dot .c7n-steps-item-icon .c7n-steps-icon-dot {
  float: left;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
  /* expand hover area */
}
.c7n-steps-dot .c7n-steps-item-icon .c7n-steps-icon-dot:after {
  content: "";
  background: rgba(0, 0, 0, 0.001);
  width: .6rem;
  height: .32rem;
  position: absolute;
  top: -0.12rem;
  left: -0.26rem;
}
.c7n-steps-dot .c7n-steps-item-process .c7n-steps-item-icon {
  width: 0.1rem;
  height: 0.1rem;
  line-height: 0.1rem;
}
.c7n-steps-dot .c7n-steps-item-process .c7n-steps-item-icon .c7n-steps-icon-dot {
  top: -0.01rem;
}
.c7n-steps-vertical.c7n-steps-dot .c7n-steps-item-icon {
  margin-left: 0;
  margin-top: .08rem;
}
.c7n-steps-vertical.c7n-steps-dot .c7n-steps-item-tail {
  margin: 0;
  left: -0.09rem;
  top: .02rem;
  padding: .22rem 0 .04rem;
}
.c7n-steps-vertical.c7n-steps-dot .c7n-steps-item:first-child .c7n-steps-icon-dot {
  left: 0;
}
.c7n-steps-vertical.c7n-steps-dot .c7n-steps-item-process .c7n-steps-icon-dot {
  left: -0.02rem;
}
