/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
@-webkit-keyframes antCheckboxEffect {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: 0;
  }
}
@keyframes antCheckboxEffect {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: 0;
  }
}
.c7n-transfer {
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.13rem;
  line-height: 1.5;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.c7n-transfer-list {
  border: 0.01rem solid #e0e0e0;
  display: inline-block;
  border-radius: 0.02rem;
  vertical-align: middle;
  position: relative;
  width: 1.8rem;
  height: 2rem;
  padding-top: .34rem;
}
.c7n-transfer-list-with-footer {
  padding-bottom: .34rem;
}
.c7n-transfer-list-search {
  padding: 0 0.08rem;
}
.c7n-transfer-list-search-action {
  color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: .04rem;
  right: .04rem;
  bottom: .04rem;
  width: .28rem;
  line-height: 0.3rem;
  text-align: center;
}
.c7n-transfer-list-search-action .icon {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: rgba(0, 0, 0, 0.25);
}
.c7n-transfer-list-search-action .icon:hover {
  color: rgba(0, 0, 0, 0.45);
}
span.c7n-transfer-list-search-action {
  pointer-events: none;
}
.c7n-transfer-list-header {
  padding: 0.06rem 0.12rem;
  border-radius: 0.02rem 0.02rem 0 0;
  background: #fff;
  color: #000000;
  border-bottom: 0.01rem solid #e8e8e8;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.c7n-transfer-list-header-title {
  position: absolute;
  right: .12rem;
}
.c7n-transfer-list-body {
  font-size: 0.13rem;
  position: relative;
  height: 100%;
}
.c7n-transfer-list-body-search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: .04rem;
  width: 100%;
}
.c7n-transfer-list-body-with-search {
  padding-top: 0.38rem;
}
.c7n-transfer-list-content {
  height: 100%;
  overflow: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}
.c7n-transfer-list-content > .LazyLoad {
  -webkit-animation: transferHighlightIn 1s;
          animation: transferHighlightIn 1s;
}
.c7n-transfer-list-content-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.06rem 0.12rem;
  min-height: .32rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.c7n-transfer-list-content-item > span {
  padding-right: 0;
}
.c7n-transfer-list-content-item:not(.c7n-transfer-list-content-item-disabled):hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
}
.c7n-transfer-list-content-item-disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
}
.c7n-transfer-list-body-not-found {
  padding-top: 0;
  color: rgba(0, 0, 0, 0.25);
  text-align: center;
  display: none;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -0.1rem;
}
.c7n-transfer-list-content:empty + .c7n-transfer-list-body-not-found {
  display: block;
}
.c7n-transfer-list-footer {
  border-top: 0.01rem solid #e8e8e8;
  border-radius: 0 0 0.02rem 0.02rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.c7n-transfer-operation {
  display: inline-block;
  overflow: hidden;
  margin: 0 .08rem;
  vertical-align: middle;
}
.c7n-transfer-operation .c7n-btn {
  display: block;
}
.c7n-transfer-operation .c7n-btn:first-child {
  margin-bottom: .04rem;
}
.c7n-transfer-operation .c7n-btn .icon {
  font-size: .12rem;
}
@-webkit-keyframes transferHighlightIn {
  0% {
    background: #dadee8;
  }
  100% {
    background: transparent;
  }
}
@keyframes transferHighlightIn {
  0% {
    background: #dadee8;
  }
  100% {
    background: transparent;
  }
}
