/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.c7n-pro-btn {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: 0 0.03rem 0.01rem -0.02rem rgba(0, 0, 0, 0.2), 0 0.02rem 0.02rem 0 rgba(0, 0, 0, 0.14), 0 0.01rem 0.05rem 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0.03rem 0.01rem -0.02rem rgba(0, 0, 0, 0.2), 0 0.02rem 0.02rem 0 rgba(0, 0, 0, 0.14), 0 0.01rem 0.05rem 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.02rem;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: .03rem .1rem .04rem .1rem;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: text-bottom;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  line-height: 1.5;
}
.c7n-pro-btn:focus {
  -webkit-box-shadow: 0 0.04rem 0.03rem -0.02rem rgba(0, 0, 0, 0.2), 0 0.03rem 0.03rem 0 rgba(0, 0, 0, 0.14), 0 0.03rem 0.08rem 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0.04rem 0.03rem -0.02rem rgba(0, 0, 0, 0.2), 0 0.03rem 0.03rem 0 rgba(0, 0, 0, 0.14), 0 0.03rem 0.08rem 0 rgba(0, 0, 0, 0.12);
}
.c7n-pro-btn:enabled:active {
  -webkit-box-shadow: 0 0.05rem 0.05rem -0.03rem rgba(0, 0, 0, 0.2), 0 0.08rem 0.1rem 0.01rem rgba(0, 0, 0, 0.14), 0 0.03rem 0.14rem 0.02rem rgba(0, 0, 0, 0.12);
          box-shadow: 0 0.05rem 0.05rem -0.03rem rgba(0, 0, 0, 0.2), 0 0.08rem 0.1rem 0.01rem rgba(0, 0, 0, 0.14), 0 0.03rem 0.14rem 0.02rem rgba(0, 0, 0, 0.12);
}
.c7n-pro-btn > .icon {
  margin-right: .05rem;
  font-size: 0.14rem;
}
.c7n-pro-btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.c7n-pro-btn-lg {
  font-size: 0.16rem;
  padding: .07rem .12rem;
}
.c7n-pro-btn-lg .c7n-pro-icon {
  font-size: 0.16rem;
}
.c7n-pro-btn-sm {
  font-size: 0.12rem;
  padding: 0 .08rem;
}
.c7n-pro-btn-sm .c7n-pro-icon {
  font-size: 0.12rem;
}
.c7n-pro-btn-flat {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.c7n-pro-btn-flat:enabled:hover,
.c7n-pro-btn-flat:enabled:focus {
  background-color: rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.c7n-pro-btn-flat:enabled:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.c7n-pro-btn-raised,
.c7n-pro-btn-raised:disabled {
  color: #fff;
}
.c7n-pro-btn-raised .c7n-progress circle,
.c7n-pro-btn-raised:disabled .c7n-progress circle {
  stroke: #fff;
}
.c7n-pro-btn:disabled {
  cursor: not-allowed;
}
.c7n-pro-btn:disabled:before {
  position: absolute;
  top: -0.01rem;
  left: -0.01rem;
  bottom: -0.01rem;
  right: -0.01rem;
  background: #fff;
  opacity: .35;
  content: "";
  border-radius: inherit;
  z-index: 1;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  pointer-events: none;
}
.c7n-pro-btn-gray.c7n-pro-btn-raised {
  color: #000000;
  background-color: #f5f5f5;
}
.c7n-pro-btn-gray.c7n-pro-btn-raised:enabled:hover,
.c7n-pro-btn-gray.c7n-pro-btn-raised:enabled:focus {
  background-color: #e6e6e6;
}
.c7n-pro-btn-gray.c7n-pro-btn-raised:disabled {
  color: rgba(0, 0, 0, 0.25);
}
.c7n-pro-btn-gray.c7n-pro-btn-flat {
  color: #d0d0d0;
}
.c7n-pro-btn-gray.c7n-pro-btn-flat .c7n-progress circle {
  stroke: #d0d0d0;
}
.c7n-pro-btn-blue.c7n-pro-btn-raised {
  background-color: #3f51b5;
}
.c7n-pro-btn-blue.c7n-pro-btn-raised:enabled:hover,
.c7n-pro-btn-blue.c7n-pro-btn-raised:enabled:focus {
  background-color: #2b378f;
}
.c7n-pro-btn-blue.c7n-pro-btn-raised .c7n-pro-ripple {
  background-color: rgba(255, 255, 255, 0.1);
}
.c7n-pro-btn-blue.c7n-pro-btn-flat {
  color: #3f51b5;
}
.c7n-pro-btn-blue.c7n-pro-btn-flat .c7n-progress circle {
  stroke: #3f51b5;
}
.c7n-pro-btn-green.c7n-pro-btn-raised {
  background-color: #00bf96;
}
.c7n-pro-btn-green.c7n-pro-btn-raised:enabled:hover,
.c7n-pro-btn-green.c7n-pro-btn-raised:enabled:focus {
  background-color: #00997d;
}
.c7n-pro-btn-green.c7n-pro-btn-raised .c7n-pro-ripple {
  background-color: rgba(255, 255, 255, 0.1);
}
.c7n-pro-btn-green.c7n-pro-btn-flat {
  color: #00bf96;
}
.c7n-pro-btn-green.c7n-pro-btn-flat .c7n-progress circle {
  stroke: #00bf96;
}
.c7n-pro-btn-red.c7n-pro-btn-raised {
  background-color: #d50000;
}
.c7n-pro-btn-red.c7n-pro-btn-raised:enabled:hover,
.c7n-pro-btn-red.c7n-pro-btn-raised:enabled:focus {
  background-color: #b00006;
}
.c7n-pro-btn-red.c7n-pro-btn-raised .c7n-pro-ripple {
  background-color: rgba(255, 255, 255, 0.1);
}
.c7n-pro-btn-red.c7n-pro-btn-flat {
  color: #d50000;
}
.c7n-pro-btn-red.c7n-pro-btn-flat .c7n-progress circle {
  stroke: #d50000;
}
.c7n-pro-btn-yellow.c7n-pro-btn-raised {
  background-color: #fadb14;
}
.c7n-pro-btn-yellow.c7n-pro-btn-raised:enabled:hover,
.c7n-pro-btn-yellow.c7n-pro-btn-raised:enabled:focus {
  background-color: #d4b106;
}
.c7n-pro-btn-yellow.c7n-pro-btn-raised .c7n-pro-ripple {
  background-color: rgba(255, 255, 255, 0.1);
}
.c7n-pro-btn-yellow.c7n-pro-btn-flat {
  color: #fadb14;
}
.c7n-pro-btn-yellow.c7n-pro-btn-flat .c7n-progress circle {
  stroke: #fadb14;
}
.c7n-pro-btn-purple.c7n-pro-btn-raised {
  background-color: #8e44ad;
}
.c7n-pro-btn-purple.c7n-pro-btn-raised:enabled:hover,
.c7n-pro-btn-purple.c7n-pro-btn-raised:enabled:focus {
  background-color: #692e87;
}
.c7n-pro-btn-purple.c7n-pro-btn-raised .c7n-pro-ripple {
  background-color: rgba(255, 255, 255, 0.1);
}
.c7n-pro-btn-purple.c7n-pro-btn-flat {
  color: #8e44ad;
}
.c7n-pro-btn-purple.c7n-pro-btn-flat .c7n-progress circle {
  stroke: #8e44ad;
}
.c7n-pro-btn-dark.c7n-pro-btn-raised {
  background-color: #4f5254;
}
.c7n-pro-btn-dark.c7n-pro-btn-raised:enabled:hover,
.c7n-pro-btn-dark.c7n-pro-btn-raised:enabled:focus {
  background-color: #434547;
}
.c7n-pro-btn-dark.c7n-pro-btn-raised .c7n-pro-ripple {
  background-color: rgba(255, 255, 255, 0.1);
}
.c7n-pro-btn-dark.c7n-pro-btn-flat {
  color: #2f353b;
}
.c7n-pro-btn-dark.c7n-pro-btn-flat .c7n-progress circle {
  stroke: #2f353b;
}
.c7n-pro-btn-default {
  color: #000000;
}
.c7n-pro-btn-default .c7n-progress circle {
  stroke: #000000;
}
.c7n-pro-btn-default.c7n-pro-btn-raised:disabled {
  color: rgba(0, 0, 0, 0.25);
}
.c7n-pro-btn-default.c7n-pro-btn-raised:disabled .c7n-progress circle {
  stroke: rgba(0, 0, 0, 0.25);
}
.c7n-pro-btn-default:focus {
  color: #3f51b5;
}
.c7n-pro-btn-icon-only {
  padding: 0;
  border-radius: 50%;
  width: 0.3rem;
  height: 0.3rem;
}
.c7n-pro-btn-icon-only > .icon {
  font-size: 0.2rem;
  line-height: 1.5;
  margin-right: 0;
}
.c7n-pro-btn-icon-only.c7n-pro-btn-sm {
  padding: 0;
  width: 0.24rem;
  height: 0.24rem;
}
.c7n-pro-btn-icon-only.c7n-pro-btn-sm > .icon {
  font-size: 0.14rem;
}
.c7n-pro-btn-icon-only.c7n-pro-btn-lg {
  padding: 0;
  width: 0.4rem;
  height: 0.4rem;
}
.c7n-pro-btn-icon-only.c7n-pro-btn-lg > .icon {
  font-size: 0.24rem;
}
.c7n-pro-btn-icon-only:disabled:before {
  opacity: .5;
}
.c7n-pro-btn .c7n-progress.c7n-progress-loading {
  line-height: 1;
  margin-right: .01rem;
}
.c7n-pro-btn .c7n-progress.c7n-progress-loading + span {
  margin-left: .05rem;
}
.c7n-pro-btn .c7n-progress.c7n-progress-loading .c7n-progress-inner {
  width: .15rem;
  height: .15rem;
}
.c7n-pro-btn + .c7n-pro-btn {
  margin-left: .1rem;
}
.c7n-pro-btn > * {
  vertical-align: middle;
}
