/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.c7n-fullcalendar {
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.13rem;
  line-height: 1.5;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  border-top: 0.01rem solid #e0e0e0;
}
.c7n-fullcalendar-month-select {
  margin-left: .05rem;
}
.c7n-fullcalendar-header {
  padding: .11rem .16rem .11rem 0;
  text-align: right;
}
.c7n-fullcalendar-header .c7n-select-dropdown {
  text-align: left;
}
.c7n-fullcalendar-header .c7n-radio-group {
  margin-left: .08rem;
  text-align: left;
}
.c7n-fullcalendar-header label.c7n-radio-button {
  height: .22rem;
  line-height: .2rem;
  padding: 0 .1rem;
}
.c7n-fullcalendar-date-panel {
  position: relative;
  outline: none;
}
.c7n-fullcalendar-calendar-body {
  padding: .08rem .12rem;
}
.c7n-fullcalendar table {
  border-collapse: collapse;
  max-width: 100%;
  background-color: transparent;
  width: 100%;
  height: 2.56rem;
}
.c7n-fullcalendar table,
.c7n-fullcalendar th,
.c7n-fullcalendar td {
  border: 0;
}
.c7n-fullcalendar td {
  position: relative;
}
.c7n-fullcalendar-calendar-table {
  border-spacing: 0;
  margin-bottom: 0;
}
.c7n-fullcalendar-column-header {
  line-height: .18rem;
  padding: 0;
  width: .33rem;
  text-align: center;
}
.c7n-fullcalendar-column-header .c7n-fullcalendar-column-header-inner {
  display: block;
  font-weight: normal;
}
.c7n-fullcalendar-week-number-header .c7n-fullcalendar-column-header-inner {
  display: none;
}
.c7n-fullcalendar-month,
.c7n-fullcalendar-date {
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.c7n-fullcalendar-value {
  display: block;
  margin: 0 auto;
  color: #000000;
  border-radius: 0.02rem;
  width: .24rem;
  height: .24rem;
  padding: 0;
  background: transparent;
  line-height: .24rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.c7n-fullcalendar-value:hover {
  background: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.c7n-fullcalendar-value:active {
  background: #3f51b5;
  color: #fff;
}
.c7n-fullcalendar-month-panel-cell .c7n-fullcalendar-value {
  width: .48rem;
}
.c7n-fullcalendar-today .c7n-fullcalendar-value,
.c7n-fullcalendar-month-panel-current-cell .c7n-fullcalendar-value {
  -webkit-box-shadow: 0 0 0 0.01rem #3f51b5 inset;
          box-shadow: 0 0 0 0.01rem #3f51b5 inset;
}
.c7n-fullcalendar-selected-day .c7n-fullcalendar-value,
.c7n-fullcalendar-month-panel-selected-cell .c7n-fullcalendar-value {
  background: #3f51b5;
  color: #fff;
}
.c7n-fullcalendar-disabled-cell-first-of-row .c7n-fullcalendar-value {
  border-top-left-radius: 0.02rem;
  border-bottom-left-radius: 0.02rem;
}
.c7n-fullcalendar-disabled-cell-last-of-row .c7n-fullcalendar-value {
  border-top-right-radius: 0.02rem;
  border-bottom-right-radius: 0.02rem;
}
.c7n-fullcalendar-last-month-cell .c7n-fullcalendar-value,
.c7n-fullcalendar-next-month-btn-day .c7n-fullcalendar-value {
  color: rgba(0, 0, 0, 0.25);
}
.c7n-fullcalendar-month-panel-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
}
.c7n-fullcalendar-content {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -0.09rem;
}
.c7n-fullcalendar-fullscreen {
  border-top: 0;
}
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-table {
  table-layout: fixed;
}
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-header .c7n-radio-group {
  margin-left: .16rem;
}
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-header label.c7n-radio-button {
  height: 0.3rem;
  line-height: 0.28rem;
}
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-month,
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-date {
  text-align: left;
  margin: 0 .04rem;
  display: block;
  color: #000000;
  height: 1.16rem;
  padding: .04rem .08rem;
  border-top: 0.02rem solid #e8e8e8;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-month:hover,
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-date:hover {
  background: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-month:active,
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-date:active {
  background: #dadee8;
}
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-column-header {
  text-align: right;
  padding-right: .12rem;
  padding-bottom: .05rem;
}
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-value {
  text-align: right;
  background: transparent;
  width: auto;
}
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-today .c7n-fullcalendar-value {
  color: #000000;
}
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-month-panel-current-cell .c7n-fullcalendar-month,
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-today .c7n-fullcalendar-date {
  border-top-color: #3f51b5;
  background: transparent;
}
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-month-panel-current-cell .c7n-fullcalendar-value,
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-today .c7n-fullcalendar-value {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-month-panel-selected-cell .c7n-fullcalendar-month,
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-selected-day .c7n-fullcalendar-date {
  background: #e6ebf5;
}
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-month-panel-selected-cell .c7n-fullcalendar-value,
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-selected-day .c7n-fullcalendar-value {
  color: #3f51b5;
}
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-last-month-cell .c7n-fullcalendar-date,
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-next-month-btn-day .c7n-fullcalendar-date {
  color: rgba(0, 0, 0, 0.25);
}
.c7n-fullcalendar-fullscreen .c7n-fullcalendar-content {
  height: .9rem;
  overflow-y: auto;
  position: static;
  width: auto;
  left: auto;
  bottom: auto;
}
.c7n-fullcalendar-disabled-cell .c7n-fullcalendar-date,
.c7n-fullcalendar-disabled-cell .c7n-fullcalendar-date:hover {
  cursor: not-allowed;
}
.c7n-fullcalendar-disabled-cell:not(.c7n-fullcalendar-today) .c7n-fullcalendar-date,
.c7n-fullcalendar-disabled-cell:not(.c7n-fullcalendar-today) .c7n-fullcalendar-date:hover {
  background: transparent;
}
.c7n-fullcalendar-disabled-cell .c7n-fullcalendar-value {
  color: rgba(0, 0, 0, 0.25);
  border-radius: 0;
  width: auto;
  cursor: not-allowed;
}
