/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.c7n-pro-tooltip-popup {
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.13rem;
  line-height: 1.5;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: -1;
  display: block;
  visibility: visible;
  -webkit-box-shadow: none;
          box-shadow: none;
  white-space: nowrap;
  background-color: transparent;
  -webkit-filter: drop-shadow(0 0.01rem 0.01rem rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 0.01rem 0.01rem rgba(0, 0, 0, 0.2));
  border-radius: .04rem;
}
.c7n-pro-tooltip-popup-hidden {
  display: none;
}
.c7n-pro-tooltip-popup-inner {
  position: relative;
  padding: .06rem .08rem;
  text-align: left;
  text-decoration: none;
  min-height: .32rem;
  -webkit-box-shadow: 0 0.01rem 0.03rem 0 rgba(0, 0, 0, 0.2), 0 0.01rem 0.01rem 0 rgba(0, 0, 0, 0.14), 0 0.02rem 0.01rem -0.01rem rgba(0, 0, 0, 0.12);
          box-shadow: 0 0.01rem 0.03rem 0 rgba(0, 0, 0, 0.2), 0 0.01rem 0.01rem 0 rgba(0, 0, 0, 0.14), 0 0.02rem 0.01rem -0.01rem rgba(0, 0, 0, 0.12);
  border-radius: .04rem;
}
.c7n-pro-tooltip-popup-inner-dark {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
}
.c7n-pro-tooltip-popup-inner-light {
  color: #000;
  background-color: #fff;
}
.c7n-pro-tooltip-popup-arrow {
  position: absolute;
  width: 0.05rem;
  height: 0.05rem;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1061;
}
.c7n-pro-tooltip-popup-arrow-dark {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 0.03536068rem;
  border-bottom-color: rgba(0, 0, 0, 0.75);
  border-left-color: rgba(0, 0, 0, 0.75);
  background-color: transparent;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}
.c7n-pro-tooltip-popup-arrow-light {
  width: 0.0707rem;
  height: 0.0707rem;
}
.c7n-pro-tooltip-popup-placement-top .c7n-pro-tooltip-popup-arrow-dark,
.c7n-pro-tooltip-popup-placement-topLeft .c7n-pro-tooltip-popup-arrow-dark,
.c7n-pro-tooltip-popup-placement-topRight .c7n-pro-tooltip-popup-arrow-dark {
  bottom: -0.0707rem;
  -webkit-transform: translateX(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}
.c7n-pro-tooltip-popup-placement-top .c7n-pro-tooltip-popup-arrow-light,
.c7n-pro-tooltip-popup-placement-topLeft .c7n-pro-tooltip-popup-arrow-light,
.c7n-pro-tooltip-popup-placement-topRight .c7n-pro-tooltip-popup-arrow-light {
  bottom: 0;
  -webkit-transform: translate(-50%, 50%) rotate(45deg);
      -ms-transform: translate(-50%, 50%) rotate(45deg);
          transform: translate(-50%, 50%) rotate(45deg);
  background-color: #fff;
}
.c7n-pro-tooltip-popup-placement-top .c7n-pro-tooltip-popup-arrow {
  left: 50%;
}
.c7n-pro-tooltip-popup-placement-topLeft .c7n-pro-tooltip-popup-arrow {
  left: .16rem;
}
.c7n-pro-tooltip-popup-placement-topRight .c7n-pro-tooltip-popup-arrow {
  right: .16rem;
}
.c7n-pro-tooltip-popup-placement-right .c7n-pro-tooltip-popup-arrow-dark,
.c7n-pro-tooltip-popup-placement-rightTop .c7n-pro-tooltip-popup-arrow-dark,
.c7n-pro-tooltip-popup-placement-rightBottom .c7n-pro-tooltip-popup-arrow-dark {
  -webkit-transform: translateY(-0.05rem) rotate(45deg);
      -ms-transform: translateY(-0.05rem) rotate(45deg);
          transform: translateY(-0.05rem) rotate(45deg);
}
.c7n-pro-tooltip-popup-placement-right .c7n-pro-tooltip-popup-arrow-light,
.c7n-pro-tooltip-popup-placement-rightTop .c7n-pro-tooltip-popup-arrow-light,
.c7n-pro-tooltip-popup-placement-rightBottom .c7n-pro-tooltip-popup-arrow-light {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #fff;
}
.c7n-pro-tooltip-popup-placement-right .c7n-pro-tooltip-popup-arrow {
  top: 50%;
}
.c7n-pro-tooltip-popup-placement-rightTop .c7n-pro-tooltip-popup-arrow {
  top: 35%;
}
.c7n-pro-tooltip-popup-placement-rightBottom .c7n-pro-tooltip-popup-arrow {
  top: 65%;
}
.c7n-pro-tooltip-popup-placement-left .c7n-pro-tooltip-popup-arrow-dark,
.c7n-pro-tooltip-popup-placement-leftTop .c7n-pro-tooltip-popup-arrow-dark,
.c7n-pro-tooltip-popup-placement-leftBottom .c7n-pro-tooltip-popup-arrow-dark {
  right: -0.0707rem;
  -webkit-transform: translateY(0.05rem) rotate(-135deg);
      -ms-transform: translateY(0.05rem) rotate(-135deg);
          transform: translateY(0.05rem) rotate(-135deg);
}
.c7n-pro-tooltip-popup-placement-left .c7n-pro-tooltip-popup-arrow-light,
.c7n-pro-tooltip-popup-placement-leftTop .c7n-pro-tooltip-popup-arrow-light,
.c7n-pro-tooltip-popup-placement-leftBottom .c7n-pro-tooltip-popup-arrow-light {
  -webkit-transform: translate(50%, -50%) rotate(45deg);
      -ms-transform: translate(50%, -50%) rotate(45deg);
          transform: translate(50%, -50%) rotate(45deg);
  right: 0;
  background-color: #fff;
}
.c7n-pro-tooltip-popup-placement-left .c7n-pro-tooltip-popup-arrow {
  top: 50%;
}
.c7n-pro-tooltip-popup-placement-leftTop .c7n-pro-tooltip-popup-arrow {
  top: 35%;
}
.c7n-pro-tooltip-popup-placement-leftBottom .c7n-pro-tooltip-popup-arrow {
  top: 65%;
}
.c7n-pro-tooltip-popup-placement-bottom .c7n-pro-tooltip-popup-arrow-dark,
.c7n-pro-tooltip-popup-placement-bottomLeft .c7n-pro-tooltip-popup-arrow-dark,
.c7n-pro-tooltip-popup-placement-bottomRight .c7n-pro-tooltip-popup-arrow-dark {
  -webkit-transform: translateX(50%) rotate(135deg);
      -ms-transform: translateX(50%) rotate(135deg);
          transform: translateX(50%) rotate(135deg);
}
.c7n-pro-tooltip-popup-placement-bottom .c7n-pro-tooltip-popup-arrow-light,
.c7n-pro-tooltip-popup-placement-bottomLeft .c7n-pro-tooltip-popup-arrow-light,
.c7n-pro-tooltip-popup-placement-bottomRight .c7n-pro-tooltip-popup-arrow-light {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  background-color: #fff;
}
.c7n-pro-tooltip-popup-placement-bottom .c7n-pro-tooltip-popup-arrow {
  left: 50%;
}
.c7n-pro-tooltip-popup-placement-bottomLeft .c7n-pro-tooltip-popup-arrow {
  left: .16rem;
}
.c7n-pro-tooltip-popup-placement-bottomRight .c7n-pro-tooltip-popup-arrow {
  right: .16rem;
}
