/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.c7n-pro-transfer {
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.13rem;
  line-height: 1.5;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  height: 2rem;
  width: 1.8rem;
  border: 0.01rem solid #e0e0e0;
  border-radius: 0.02rem;
  vertical-align: middle;
}
.c7n-pro-transfer-focused {
  border-color: #6374c2;
  outline: 0;
  color: #000000;
}
.c7n-pro-transfer:last-child {
  margin-left: .08rem;
}
.c7n-pro-transfer-wrapper {
  display: inline-block;
  white-space: nowrap;
}
.c7n-pro-transfer-disabled .c7n-pro-transfer {
  background: #f5f5f5;
}
.c7n-pro-transfer-with-header {
  padding-top: 0.32rem;
}
.c7n-pro-transfer-with-footer {
  padding-bottom: 0.32rem;
}
.c7n-pro-transfer-search {
  padding: 0 0.08rem;
}
.c7n-pro-transfer-search-action {
  color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: .04rem;
  right: .04rem;
  bottom: .04rem;
  width: .28rem;
  line-height: 0.3rem;
  text-align: center;
}
.c7n-pro-transfer-search-action .icon {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: rgba(0, 0, 0, 0.25);
}
.c7n-pro-transfer-search-action .icon:hover {
  color: rgba(0, 0, 0, 0.45);
}
span.c7n-pro-transfer-search-action {
  pointer-events: none;
}
.c7n-pro-transfer-header {
  padding: 0.06rem 0.12rem;
  border-radius: 0.02rem 0.02rem 0 0;
  background: #fff;
  color: #000000;
  border-bottom: 0.01rem solid #e8e8e8;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.32rem;
}
.c7n-pro-transfer-header-title {
  position: absolute;
  right: .12rem;
}
.c7n-pro-transfer-body {
  font-size: 0.13rem;
  position: relative;
  height: 100%;
}
.c7n-pro-transfer-body-search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: .04rem;
  width: 100%;
}
.c7n-pro-transfer-body-with-search {
  padding-top: 0.38rem;
}
.c7n-pro-transfer-content {
  height: 100%;
  overflow: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  outline: none;
}
.c7n-pro-transfer-content-wrapper {
  height: 100%;
}
.c7n-pro-transfer-content-item-group {
  padding-top: .04rem;
  padding-bottom: .04rem;
}
.c7n-pro-transfer-content-item-group:not(:last-child) {
  border-bottom: 0.01rem solid #e0e0e0;
}
.c7n-pro-transfer-content-item-group-list {
  margin: 0;
  padding: 0;
}
.c7n-pro-transfer-content-item-group-list > .c7n-pro-transfer-content-item {
  padding-left: .2rem;
}
.c7n-pro-transfer-content-item-group-no-title > .c7n-pro-transfer-content-item {
  padding-left: 0.12rem;
}
.c7n-pro-transfer-content-item-group-title {
  color: rgba(0, 0, 0, 0.45);
  padding: 0 0.12rem;
  height: .32rem;
  line-height: .32rem;
  font-size: 0.12rem;
}
.c7n-pro-transfer-content-item {
  position: relative;
  display: block;
  padding: 0.04rem 0.12rem;
  line-height: .2rem;
  font-weight: normal;
  color: #000000;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  letter-spacing: .01em;
  height: auto;
}
.c7n-pro-transfer-content-item:hover {
  background-color: rgba(140, 158, 255, 0.12);
}
.c7n-pro-transfer-content-item:first-child {
  border-radius: 0.02rem 0.02rem 0 0;
}
.c7n-pro-transfer-content-item:last-child {
  border-radius: 0 0 0.02rem 0.02rem;
}
.c7n-pro-transfer-content-item-disabled {
  color: rgba(0, 0, 0, 0.54);
  cursor: not-allowed;
}
.c7n-pro-transfer-content-item-disabled:hover {
  color: rgba(0, 0, 0, 0.54);
  background-color: #fff;
  cursor: not-allowed;
}
.c7n-pro-transfer-content-item-selected {
  background-color: rgba(0, 0, 0, 0.04);
}
.c7n-pro-transfer-content-item-active {
  background-color: rgba(140, 158, 255, 0.12);
}
.c7n-pro-transfer-content-item-divider {
  height: .01rem;
  margin: .01rem 0;
  overflow: hidden;
  background-color: #e8e8e8;
  line-height: 0;
}
.c7n-pro-transfer-content-item .c7n-checkbox-wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: .08rem;
}
.c7n-pro-transfer-footer {
  border-top: 0.01rem solid #e8e8e8;
  border-radius: 0 0 0.02rem 0.02rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.32rem;
}
.c7n-pro-transfer-operation {
  display: inline-block;
  margin-left: .08rem;
  vertical-align: middle;
}
.c7n-pro-transfer-operation .c7n-pro-btn {
  display: block;
  margin-bottom: .08rem;
}
.c7n-pro-transfer-operation .c7n-pro-btn + .c7n-pro-btn {
  margin-left: 0;
}
.c7n-pro-transfer-operation .c7n-pro-btn:last-child {
  margin-bottom: 0;
}
